   
   <table style = "width:100%; height: 80px">
            <tr>
                <td style = "text-align:center"> <%= link_to "Home", root_path %> </td>
                <td style = "text-align:center"> Login </td>
                <td style = "text-align:center"> <%= link_to "Blog", articles_path %> </td>
                <td style = "text-align:center"> <%= link_to "About", about_path %></td>
                <td style = "text-align:center"> Help & Support </td>
            </tr>
        </table>