<!DOCTYPE html> 
  <html>
    <head>
    	<link type = "text/css" rel = "stylesheet" href = "stylesheet.css"/>
        <title> Alpha Blog - About</title> 
        <h1 style = "font-family:Arial; font-size:40px; text-align:center"> About Us! </h1> 
    </head>

    <body style = "background-color: cyan;">
     
          
        <center><img src = "http://farm4.staticflickr.com/3130/2836828090_67d4900ab3_o.jpg"> </center>
        <p style = "color: purple; text-align:center"> Alpha Blog is a blogging site developed by Raj Silari as a homework assignment! </p>
    </body>
	</html> 