
<!DOCTYPE html> 
  <html>
    <head>
    	<link type = "text/css" rel = "stylesheet" href = "stylesheet.css"/>
      	<title> Alpha Blog - Home </title> 
    	<h1 style = "font-family:Arial; font-size:40px; text-align:center"> Welcome to Alpha Blog! </h1> 
    </head>

    <body style = "background-color: cyan;">
    	

        <%= render 'main' %>

        <center><img src = "http://searchfactory.com.au/wp-content/uploads/2014/11/0b5cd84.jpg"> </center>
   	
   		<p style = "text-align: center; color: purple"> Welcome to Alpha Blog  - a blogging website for you to use! </p> =



    </body>

	</html> 